######################################################################
######################################################################
######################################################################
#
# $Id: digfull.cfg.sample,v 1.1 2003/08/13 01:53:23 mavrik Exp $
#
######################################################################
######################################################################
######################################################################
#
# This config file contains a condensed list of controls specific
# to digfull mode.  A full description for each control can be found
# in the FTimes documentation.
#
######################################################################
######################################################################
######################################################################
#
# Synopsis:
#
#   ftimes --digfull file [-l level] [list]
#
######################################################################
######################################################################
######################################################################
#
#BaseName=                        # <name>
#OutDir=                          # <directory>
#LogDir=                          # <directory>
#Include=                         # [<file>|<directory>|<link>]
#Exclude=                         # [<file>|<directory>|<link>]
#
#DigString=                       # <string>
#
#MapRemoteFiles=                  # [Y|N]
#MatchLimit=1                     # <integer>
#NewLine=LF                       # [LF|CRLF]
#RequirePrivilege=Y               # [Y|N]
#RunType=snapshot                 # [baseline|linktest|snapshot]
#
#URLPutSnapshot=Y                 # [Y|N]
#URLPutURL=                       # <url>
#URLAuthType=basic                # [basic|none]
#URLUsername=                     # <username>
#URLPassword=                     # <password>
#URLCreateConfig=Y                # [Y|N]
#URLUnlinkOutput=Y                # [Y|N]
#
#SSLUseCertificate=Y              # [Y|N]
#SSLPublicCertFile=               # <file>
#SSLPrivateKeyFile=               # <file>
#SSLPassPhrase=                   # <passphrase>
#
#SSLVerifyPeerCert=Y              # [Y|N]
#SSLBundledCAsFile=               # <file>
#SSLExpectedPeerCN=               # <name>
#SSLMaxChainLength=1              # [1,9]
#
#Import=                          # <file>
#
######################################################################
######################################################################
######################################################################
