######################################################################
######################################################################
######################################################################
#
# $Id: diglean.cfg.sample,v 1.10 2006/08/29 19:55:32 mavrik Exp $
#
######################################################################
######################################################################
######################################################################
#
# This config file contains a condensed list of controls specific
# to diglean mode.  A full description for each control can be found
# in the FTimes documentation.  All controls are commented out, and
# controls that are set have been set to their default value.  To
# override this behavior, uncomment the desired control and specify
# a new value.
#
######################################################################
######################################################################
######################################################################
#
# Synopsis:
#
#   ftimes --diglean file [-l level] [list]
#
######################################################################
######################################################################
######################################################################
#
#BaseName=                        # <name|->
#BaseNameSuffix=none              # [datetime|none|pid]
#LogDir=                          # <directory>
#OutDir=                          # <directory>
#Import=                          # <file>
#Include=                         # [<file>|<directory>|<link>]
#Exclude=                         # [<file>|<directory>|<link>]
#IncludeFilter=                   # <regexp>
#ExcludeFilter=                   # <regexp>
#
#DigStringNormal=                 # <string>
#DigStringNoCase=                 # <string>
#DigStringRegExp=                 # <regexp>
#DigStringXMagic=                 # <file>
#
#AnalyzeBlockSize=16384           # [1-1048576]
#AnalyzeCarrySize=1024            # [1-1048576]
#AnalyzeDeviceFiles=N             # [Y|N]
#AnalyzeRemoteFiles=N             # [Y|N]
#AnalyzeStepSize=16384            # [1-1048576]
#EnableRecursion=Y                # [Y|N]
#ExcludesMustExist=N              # [Y|N]
#FileSizeLimit=0                  # <integer>
#IncludesMustExist=N              # [Y|N]
#MatchLimit=0                     # <integer>
#NewLine=                         # [LF|CRLF]
#RequirePrivilege=N               # [Y|N]
#
######################################################################
######################################################################
######################################################################
