######################################################################
######################################################################
######################################################################
#
# $Id: maplean.cfg.sample,v 1.9 2006/08/29 19:55:32 mavrik Exp $
#
######################################################################
######################################################################
######################################################################
#
# This config file contains a condensed list of controls specific
# to maplean mode.  A full description for each control can be found
# in the FTimes documentation.  All controls are commented out, and
# controls that are set have been set to their default value.  To
# override this behavior, uncomment the desired control and specify
# a new value.
#
######################################################################
######################################################################
######################################################################
#
# Synopsis:
#
#   ftimes --maplean file [-l level] [list]
#
######################################################################
######################################################################
######################################################################
#
#BaseName=                        # <name|->
#BaseNameSuffix=none              # [datetime|none|pid]
#LogDir=                          # <directory>
#OutDir=                          # <directory>
#Import=                          # <file>
#Include=                         # [<file>|<directory>|<link>]
#Exclude=                         # [<file>|<directory>|<link>]
#IncludeFilter=                   # <regexp>
#ExcludeFilter=                   # <regexp>
#
#AnalyzeBlockSize=16384           # [1-1048576]
#AnalyzeDeviceFiles=N             # [Y|N]
#AnalyzeRemoteFiles=N             # [Y|N]
#Compress=N                       # [Y|N]
#EnableRecursion=Y                # [Y|N]
#ExcludesMustExist=N              # [Y|N]
#FieldMask=                       # <mask> (e.g., all-magic)
#FileSizeLimit=0                  # <integer>
#HashDirectories=N                # [Y|N]
#HashSymbolicLinks=Y              # [Y|N]
#IncludesMustExist=N              # [Y|N]
#MagicFile=                       # <file>
#NewLine=                         # [LF|CRLF]
#RequirePrivilege=N               # [Y|N]
#
######################################################################
######################################################################
######################################################################
