######################################################################
######################################################################
######################################################################
#
# $Id: nph-ftimes.cfg.sample,v 1.2 2005/05/07 18:50:45 mavrik Exp $
#
######################################################################
######################################################################
######################################################################
#
# This config file contains a condensed list of controls specific
# to nph-ftimes.cgi.  Full descriptions for each control can be found
# in the corresponding CGI script.  To make these controls visible to
# the CGI script, set the FTIMES_PROPERTIES_FILE environment variable
# in httpd.conf to the full path and name of this file.  Here's the
# syntax:
#
#  SetEnv FTIMES_PROPERTIES_FILE /<path>/<name>
#
# The controls listed below are commented out, but each is set to its
# default value.  To override this behavior, uncomment the desired
# control and specify a new value.
#
######################################################################
######################################################################
######################################################################
#
#BaseDirectory=/var/ftimes
#CapContentLength=N
#EnableLogging=Y
#MaxContentLength=100000000
#RequireMask=Y
#RequireMatch=Y
#RequireUser=Y
#RequiredDigMask=all
#RequiredMapMask=all-magic
#UseGMT=N
#
######################################################################
######################################################################
######################################################################
